# Supabase Configuration
# REST API (Para o Frontend e Backend)
VITE_SUPABASE_URL="https://umvbrahsqvqeondwtikm.supabase.co"
VITE_SUPABASE_ANON_KEY="your-anon-key"
# O service_role key permite que o Java se conecte sem precisar da senha do Banco
VITE_SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVtdmJyYWhzcXZxZW9uZHd0aWttIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczMjE5NDkxOSwiZXhwIjoyMDQ3NzcwOTE5fQ.slT50A_aa1rmo3fNX8eP7qZeHEPSDcCGGPXrB8GcfhQ"

# Database Connection (Opcional se usar a API acima)
DB_HOST="db.umvbrahsqvqeondwtikm.supabase.co"
DB_NAME="postgres"
DB_USER="postgres"
# SUPABASE_DB_PASSWORD não é mais necessário se a API estiver configurada

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# GEMINI_API_KEY: Your paid Gemini API Key
GEMINI_API_KEY=""
